<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="GhostSpy C2"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ControlActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".AccountManageActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".SmsActivity" />
        <activity android:name=".ConversationActivity" />
        <activity android:name=".DeviceDetailActivity" />
        <activity android:name=".ContactsActivity" />
        <activity android:name=".CallActivity" />
    </application>
</manifest>
